body{
    background: linear-gradient(135deg, hsl(0, 0%, 0%) 0%,#030c29 60%, #092b6b 100%);
    min-height: 100vh;
}


header{
    text-align: center;
    color: #ffc506;
    font-size: 1.6vw;
}
section{
    display: flex;
    flex-direction: row;
   align-items: flex-start;
   color: white;
   font-size: 1.2vw;
   line-height: 1.25vw;
   margin: 20px auto;
   width: 95vw;
}
img{
    float: left;
    width: 50vw;
    height: 30vw;
    margin-right: 2vw;
    border-radius: 2vw;
    object-fit: cover;     
}
div{
    display: flex;
    height: 30vw;
    flex-direction: column;
    flex: 1;
}
p{
    margin: 0;
}
.tag{
    margin-top: 1.1vw;
    color: #ffc506; 
}
a{
            color: #10b2fd;
        }
footer{
   color: #64aafa;
   text-align: center;
   margin-top: 2vh;
   margin-bottom: 1vh;
   font: italic 1.9vh Arial;
}


@media (max-width: 768px) {
    body{
        margin: auto;
        width: 100%;
    }
    header{
        font-size: 2vh;
    }

    section{
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        font-size: 1.7vh;
        line-height: 1.7vh;
    }
    .tag{
        margin-top: 1.5vh;
    }
    div{
        margin-top: 3vh;
    }
    img{
        width: 60vw;
        height: 30vh;
        text-align: center;
        float: none;
        border-radius: 3vh;
    }
    footer{
   text-align: center;
   margin-top: 2vh;
   margin-bottom: 1vh;
   font: italic 1.5vh Arial;
}
    
}